option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "config.settings"
    "PYTHONPATH": "/opt/python/current/app/djangogirls:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: djangogirls/mysite/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "http://djangoproject-env.cqpqdzv3ph.ap-northeast-2.elasticbeanstalk.com/static/"
<!--
option_settings:
  DJANGO_SETTINGS_MODULE: config.settings
   option_name: PYTHONPATH
    value: /opt/python/ondeck/app/myapp:$PYTHONPATH
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite/wsgi.py -->
<!--
    aws:elasticbeanstalk:container:python:
      WSGIPath: blog/wsgi.py -->
